.infoBar-container {
  display: flex;
  flex-direction: column;
  background: #2979FF;
  border-radius: 4px 4px 0 0;
  height: 65px;
  width: 100%;
  justify-content: center;
}

.infoBar-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoBar-bottom{
  overflow-x: hidden;
}

.leftInnerContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: white;
}

.rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 3%;
}

.rightInnerContainer a{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    text-decoration: none;
    transition: .2s;
}

.rightInnerContainer a:hover{
  background: #e64343;
}

.onlineIcon {
  margin-right: 5%;
}